body {
  display: block;
  padding: 40px 20px 40px 20px;
  font-family: monospace;
  background: radial-gradient(
    666px at 0.4% 48%,
    rgb(202, 204, 227) 0%,
    rgb(89, 89, 99) 97.5%
  );
}

.link {
  margin-bottom: 500px;
  padding-bottom: 60px;
}

.weather-app {
  border: 1px solid black;
  padding: 20px;
  padding-bottom: 1px;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 2000px;
}

.datetime {
  margin-left: 445px;
}
.current {
  position: fixed;
  right: 0;
  border: 4px solid black;
  border-radius: 50%;
  font-size: 20px;
  padding: 70px 25px 70px 25px;
  margin: 30px auto;
  margin-bottom: 500px;
  margin-right: 120px;
  margin-top: -40px;
  margin-left: 60px;
}
.currentdegree {
  margin-right: 30px;
}
.fforecast {
  font-size: 20px;
  margin-right: 190px;
}
.cloud {
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  font-size: 29px;
}

.detail {
  font-size: 18px;
  list-style: none;
  position: absolute;
  left: 0;
  padding-left: 0;
  margin-top: 95px;
  margin-left: 120px;
}

.local {
  margin-top: 20px;
}

h2 {
  margin-top: 100px;
  margin-bottom: 70px;
  text-decoration: underline;
}
.future {
  margin-bottom: 110px;
}
.col-md:hover {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
